<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
"Dear {Firstname} {Lastname}" <br>
<p style="color:green;">Good news: Your access has been granted and the reason for account-block no longer exist </p><br>
<p>Now you can:</p>
<ul>
    <li>Access your Microsoft Teams access (you can attend your online classes)</li>
    <li>Your VPN / Remote Lab access is back</li>
    <li>The access to Office.com is back</li>
</ul><br>
Best <br>
IT Support<br>
<p style="color:002366">Montreal College IT </p>

</body>
</html>