<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
"Dear {Firstname} {Lastname}" <br>
    Your access is no longer active because your Payment is due<br>
    This will cause the following:<br>
    <ul>
    <li>Microsoft Teams access will be blocked (you cannot attend your online classes)</li>
    <li>VPN , Remote Lab access will be blocked (you cannot access your lab)</li>
    <li>Office.com access block</li>
    </ul><br>
 You will see the message :
<p style="color:red"> Your account or password is incorrect or your account is blocked.<p><br>
Please contact the Finance department with the number 514-312-2283 ext 3930 (9AM - 5PM)<br>
After the issue has been resolved you will get your access back in maximum 48 hours<br>
IT contact:<br>
<i>Ticket: montrealcollege.ca/helpcenter</i>
<p style="color:002366">Thank you in advance for your cooperation.</p><br>

Best <br>
IT Support<br>
<p style="color:002366">Montreal College IT </p>

</body>
</html>