<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<p> "Dear {Firstname} {Lastname}" </p>
<p> Student ID: <b>{student_id}</b></p>
<p>Welcome to Montreal College</p><br>
You are registered in <b>“{program}”</b> and your group’s/cohort’s name is <b>{cohort}</b><br>

<p>Since the beginning of the pandemic running our classes with Distance Learning.For you to be able to have the same experience and interact with your instructor and classmates, we have prepared an Online Platform.<br><br>
Please find your access information below:<br><br>
As we are delivering the classes online via Microsoft Teams you must have an active account with us to be able to attend the classes. Here is your credential to Microsoft Teams and Office.com:
<br>
<b>Username:</b><a href="mailto:{student_id}@montrealcollegeca.onmicrosoft.com">{student_id}@montrealcollegeca.onmicrosoft.com</a><br>
<b>Password:</b>{password}<br><br>
Please TYPE the credential (do not copy and paste)<br><br>
<i>Please take note that this account does not include any license for Microsoft Office 365 Desktop App. You can only use Microsoft Teams with this account.</i><br>
    If you wish to use Microsoft Teams via "<a href="https://teams.microsoft.com">Teams WebApp</a>"Then you can <a href="https://support.microsoft.com/en-us/office/sign-in-1fa93876-0318-4622-b473-142a3bfd6495">use your internet browser to login office.com</a>
    then you can find it on the <a href="https://teams.microsoft.com">left bar</a><br><br>
    You can also download it if you wish to install on your devices.It can be downloaded from <a href="https://teams.microsoft.come/download">this link.</a><br><br>
<u>When you are logged in you should be able to see your group’s/cohort’s name which is <b>{cohort}</b> on the left side in Teams section.</u><br><br>
<b><u>Please take note if your course needs any lab or practice environment then you will receive other emails to instruct you how to access them. </u></b><br><br>
Should you have any questions or difficulties to access; Please do not hesitate to contact us by raising a ticket at <a >MCIT Help Center</a><br><br>
Or find us on Teams by searching for “<b>Tech Support Online</b>”<br><br>
Do you have any questions or difficulties to access? Please do not hesitate to contact us:<br><br>
Ticket: montrealcollege.ca/helpcenter<br><br>
Phone: +1 438 289 1683<br><br>
Best,<br><br>
Montreal College IT Support


</body>
</html>
